<div class="app-video">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="video_content text-center">
                        <h3>Watch our awsome <span>video</span></h3>
                        <a class="video_2" target="_blank" href="https://youtu.be/OxeEh_u77p0"><i class="fa fa-play-circle"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>