<div class="app-brand">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel-brand owl-carousel owl-theme pt-3">
                        <div class="brand_item" *ngFor="let item of image">
                            <img class="img-fluid" [src]="item.image" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>