<div class="mt-5">
    <div class="text-center">
        <h5>Đăng nhập bằng tài khoản mạng xã hội</h5>
    </div>
    <div class="input-group justify-content-center mt-3 mb-3">
        <button class="btn text-white text-left" style="background-color: #4267b2;width: 250px; "
            (click)="signInWithFB()">
            <i class="fab fa-facebook-f text-white mr-2"></i>Đăng Nhập Bằng Facebook</button>
    </div>
    <div class="input-group justify-content-center mt-3 mb-3">
        <button class="btn text-white text-left" style="background-color: #d34836;width: 250px; "
            (click)=" signInWithGoogle()">
            <i class="fab fa-google-plus-g text-white mr-2"></i>Đănh Nhập Bằng Google</button>
    </div>
</div>
