<div class="app-services">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title text-center">
                        <h3>what we provide</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="service_container mt-5">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fab fa-html5"></i>
                            <h2>WEB-DESIGN</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fas fa-code"></i>
                            <h2>WEB-DEVELOPMENT</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fas fa-bullhorn"></i>
                            <h2>DIGITAL MERKATING</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fas fa-cloud-download-alt"></i>
                            <h2>WEB-HOSTING</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fas fa-headphones"></i>
                            <h2>ONLINE SUPPORT</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service_item">
                            <i class="fas fa-bug"></i>
                            <h2>FIX SERVER ERROR</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit doloribus corrupti
                                nostrum magnam ipsa ex, quod fugiat, minus natus iste.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>