<div class="app-project">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="work_togather_content text-center">
                        <h2>Let's work together!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <button>start project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>