<div class="app-newslater">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="news_item">
                        <h3>providing smart logistig solution accross the world</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="news_item text-right">
                        <button>get a quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>