<div class="app-blog">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section_title text-center">
                        <h3>service price</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="price_item text-center">
                            <div class="packeg_name">
                                <h3>basic</h3>
                            </div>
                            <div class="packeg_amout">
                                <h5><span>$10 /</span> permonth</h5>
                            </div>
                            <div class="packeg_feater">
                                <ul class="m-0 p-0">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5GB Linux Web Space</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5 MySQL Databases</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 250Gb mo Transfer</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Tech Support</li>
                                </ul>
                            </div>
                            <div class="packeg_btn">
                                <button class="text-white">select plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="price_item text-center">
                            <div class="packeg_name">
                                <h3>standar</h3>
                            </div>
                            <div class="packeg_amout">
                                <h5><span>$50 /</span> permonth</h5>
                            </div>
                            <div class="packeg_feater">
                                <ul class="m-0 p-0">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5GB Linux Web Space</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5 MySQL Databases</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 250Gb mo Transfer</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Tech Support</li>
                                </ul>
                            </div>
                            <div class="packeg_btn">
                                <button class="text-white">select plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="price_item text-center">
                            <div class="packeg_name">
                                <h3>gold</h3>
                            </div>
                            <div class="packeg_amout">
                                <h5><span>$70 /</span> permonth</h5>
                            </div>
                            <div class="packeg_feater">
                                <ul class="m-0 p-0">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5GB Linux Web Space</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5 MySQL Databases</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 250Gb mo Transfer</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Tech Support</li>
                                </ul>
                            </div>
                            <div class="packeg_btn">
                                <button class="text-white">select plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="price_item text-center">
                            <div class="packeg_name">
                                <h3>primiume</h3>
                            </div>
                            <div class="packeg_amout">
                                <h5><span>$99 /</span> permonth</h5>
                            </div>
                            <div class="packeg_feater">
                                <ul class="m-0 p-0">
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5GB Linux Web Space</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 5 MySQL Databases</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Email</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 250Gb mo Transfer</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Tech Support</li>
                                </ul>
                            </div>
                            <div class="packeg_btn">
                                <button class="text-white">select plan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>