<div class="app-about">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <div class="about_info">
                        <h1>our story</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing occaecat sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco
                            laboris occaecat aliquip occaecat commodo consequat Duis aute irure dolor</p>
                        <p class="hide_sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, vitae
                            ducimus. Minus sit vitae fuga.</p>
                        <button>red more</button>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="about_video">
                        <img width="100%" src="../../../../assets/img/about.jpg" alt="">
                       
                        <a class="bla-1"target="_blank" href="https://youtu.be/OxeEh_u77p0" >
                            <i class="fa fa-play-circle" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>