<div class="banner">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="banner_table">
                        <div class="banner_tabel_cell">
                            <div class="banner_text">
                                <h1>welcome to hunter agency</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiing Elit a enean ipsum enim, commodo in
                                    sapie eget, accumsan maximus metus.</p>
                                <button>about us</button>
                                <button class="btn_sp">contact us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>